@keyframes custom {
    0% {
        opacity: 0;
        filter: blur(70px);
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes slideinwards {
    0% {
        transform: translateX(-100px);
        filter: blur(10px);
    }
    100% {
        transform: translateX(0px);
        filter: blur(0px);
    }
}
@keyframes slideoutwards {
    0% { 
        transform: translateX(0px);
        filter: blur(0px);
    }
    100% {
        transform: translateX(-100px);
        filter: blur(50px);
    }
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Telma-Variable';
    font-weight: 900;
    background-color: #000000;
    user-select: none;
    -webkit-user-select: none;
}
h1{
    color: #1e93a7;
}
.appwrapper{
    padding: 7px;
    background-color: #fff9c7;
    border-radius: 27px;
    animation: linear 2s custom;
}
.apptile{
    background-color: #fff9c7;
    padding: 20px;
    border-style: dashed;
    border-color: #11dbff;
    border-radius: 20px;
    width: 315px;
    height: 500px;
    overflow: auto;
    scrollbar-width: none;
    transition-duration: 2s;
}
.inputwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
input{
    width: 200px;
    color: #1e93a7;
    background-color: rgba(0, 255, 255, 0.237);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Telma-Variable';
}
input:focus {
    outline: 2px dashed #1e93a7; /* Change the outline color */
    outline-offset: 0; /* Ensure the outline does not affect the element's size */
}
button{
    color: #fff9c7;
    background-color: #1e93a7;
    border: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Telma-Variable';
    transition-duration: 0.4s;
}
button:hover{
    background-color: rgba(0, 255, 255, 0.237);
    color: #1e93a7;
    transition-duration: 0.4s;
}
h3{
    color: #1e92a774;
    font-size: 2rem;
    text-align: center;
    margin-top: 140px;
    margin-inline: 20px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    user-select: text;
    -webkit-user-select: text;
    color:#1e93a7;
    margin-block: 20px;
    font-weight: 500;
    text-wrap: wrap;
    animation: cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s slideinwards;
}
li::selection {
    background: #1e93a7; /* Background color of the selection */
    color: #fff9c7; /* Text color of the selection */
    text-shadow: none; /* Optional: Removes text shadow if any */
  }
li.removing {
    animation: cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s slideoutwards;
}
li button{
    height: 30px;
    width: 30px;
    color: #1e93a7;
    background-color: rgba(0, 255, 255, 0.237);
    user-select: none;
    -webkit-user-select: none;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-block: 6px;
    text-align: center;
    background-color: #1a1a1a;
    font-size: 0.9rem;
    font-weight: 300;
    color: #adadad;
    z-index: 100;
}
footer a{
    color: #adadad;
    margin-left: 7px;
}
footer a:hover{
    color: #fff9c7;
}
footer span{
    color: #1e93a7;
}