body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Telma-Variable';
    font-weight: 900;
    background-color: #000000;
}
h1{
    color: #1e93a7;
}
.appwrapper{
    padding: 7px;
    background-color: #fff9c7;
    border-radius: 27px;
}
.apptile{
    background-color: #fff9c7;
    padding: 20px;
    border-style: dashed;
    border-color: #11dbff;
    border-radius: 20px;
    min-width: 300px;
    max-height: 55vh;
    overflow: auto;
}

input{
    color: #1e93a7;
    background-color: rgba(0, 255, 255, 0.237);
    border: none;
    padding: 10px;
    border-radius: 5px;
}
button{
    color: #1e93a7;
    background-color: rgba(0, 255, 255, 0.237);
    border: none;
    padding: 10px;
    border-radius: 5px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    color:#1e93a7;
    margin-block: 20px;
    font-weight: 500;
}